@model IEnumerable<WebApplication1.Models.ItemsTable>

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<div class="text-center">
    <h1 class="display-4">Polozky</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <div class="container">

        <div id="content">
            <table id="polozkytable" class="table table-hover talbe-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazov</th>
                        <th>Velkost</th>
                        <th>Foto</th>
                        <th>Stav</th>
                        <th>Prichod</th>
                        <th>Odchod</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@("but"+item.id)">
                            <td>
                                <input type="button" onclick=openclose(@item.id) value="Otvor" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nazov)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.velkost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stav)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prichod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.odchod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cena)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

<script>
    var table;
    $(document).ready(function () {
        table = $("#polozkytable").DataTable();
    });


    function format(path) {
        var image = "<img src='" + path + "'/>"
        return "<table>" + "<tr>" +
            "<td>Foto:</td>" +
            "<td>" + image +"</td>" +
            "</tr>" +
            "</table>";
    }

    function openclose(num) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadImage","Items")',
            dataType: 'json',
            data: {datat: num},
            success: function (response) {
                tr = $("#but" + num);
                row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(format(response)).show();
                    tr.addClass('shown');
                }
            },
        });
    }

</script>